/* header
---------- ---------- ---------- ---------- ---------- */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  padding: 12px;
  border-bottom: 1px solid #e9e9e9;
  background-color: #fff;
}

.header .title_brand {
  display: inline-block;
}

.header .link_brand {
  display: block;
  padding: 12px;
  font-size: 16px;
}

/* container
---------- ---------- ---------- ---------- ---------- */
.container {
  overflow: hidden;
  padding: 65px 0 48px;
  background-color: #fff;
}

/* contents
---------- ---------- ---------- ---------- ---------- */
.contents {
  margin-top: 24px;
  padding: 0 12px;
}

.contents .title_common {
  display: block;
  font-size: 16px;
}

.contents .title_contents {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 1;
  /* margin-bottom: 12px; */
  /* padding: 0 12px; */
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contents .link_contents {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contents .text_contents {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.8;
}

.contents .group_confirm {
  margin-top: 24px;
}

.contents .group_loading {
  margin-top: 12px;
}

/* area_utility
---------- ---------- ---------- ---------- ---------- */
.area_utility {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -15px;
  font-size: 0;
}

.area_utility .button_utility {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 8px;
  vertical-align: top;
}

.area_utility .button_utility:first-child {
  margin-left: 0;
}

/* area_hamburger
---------- ---------- ---------- ---------- ---------- */
.area_hamburger {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f1f1f1;
}

.area_hamburger .inner_global {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 40px;
  box-sizing: border-box;
  background-color: #fff;
}

.area_hamburger .group_profile {
  padding: 7px 12px;
  background-color: #fff;
}

/* .area_hamburger .group_navigation {
  margin-top: 12px;
} */

.area_hamburger .group_search {
  /* margin-top: 12px; */
  padding: 12px;
  border: 1px solid #e9e9e9;
  background-color: #fff;
}

.area_hamburger .button_close {
  position: absolute;
  top: 17px;
  right: 12px;
  z-index: 1;
  width: 30px;
  height: 30px;
}

.area_hamburger.active {
  display: block;
}

/* group_navigation
---------- ---------- ---------- ---------- ---------- */
.group_navigation {
  padding: 12px;
  border-top: 1px solid #e9e9e9;
  font-size: 0;
  background-color: #fff;
}

.group_navigation .link_navigation {
  display: inline-block;
  padding: 12px;
  font-weight: bold;
  font-size: 22px;
}

.group_navigation .link_navigation .text_navigation {
  display: inline-block;
  vertical-align: middle;
}

.group_navigation .link_navigation .text_navigation + .icon_global {
  margin-left: 12px;
}

.group_navigation .link_navigation .icon_global {
  width: 48px;
  height: 48px;
  background-position: 0 -105px;
  vertical-align: middle;
}

.group_navigation .link_navigation .icon_global + .text_navigation {
  margin-left: 12px;
}

/* list_navigation
---------- ---------- ---------- ---------- ---------- */
.list_navigation .title_common {
  display: inline-block;
  padding: 12px;
  font-weight: bold;
  font-size: 16px;
}

.list_navigation .title_common .text_local {
  display: inline-block;
  vertical-align: middle;
}

.list_navigation .title_common .text_local + .icon_global {
  margin-left: 8px;
}

.list_navigation .title_common .icon_global {
  width: 14px;
  height: 14px;
  background-position: 0 -35px;
  vertical-align: middle;
}

.list_navigation .title_common .icon_global + .text_local {
  margin-left: 8px;
}

/* list_category
---------- ---------- ---------- ---------- ---------- */
.list_category > li {
  display: inline-block;
  width: 50%;
}

.list_category .link_category {
  display: block;
  padding: 12px;
  font-weight: normal;
  font-size: 14px;
}

/* thumbnail_common
---------- ---------- ---------- ---------- ---------- */
.thumbnail_common {
  position: relative;
}

.thumbnail_common .image_common {
  position: relative;
  padding-top: 56.25%;
  background-color: #f1f1f1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

/* dimmed */
.thumbnail_common .group_dimmed {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 12px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
}

.thumbnail_common .subject_dimmed {
  font-size: 16px;
  line-height: 1.6;
  vertical-align: middle;
}

.thumbnail_common .text_dimmed,
.thumbnail_common .description_dimmed {
  font-size: 12px;
  line-height: 1.6;
  vertical-align: middle;
}

.thumbnail_common .description_dimmed:first-child {
  margin: 0;
}

/* middle */
.thumbnail_common .caption_middle {
  margin-top: 12px;
}

.thumbnail_common .outer_cell {
  width: 100%;
}

.thumbnail_common .description_information {
  margin: 12px 0 -12px;
}

.thumbnail_common .description_information:first-child {
  margin: 0;
  padding: 0;
}

.thumbnail_common .description_information:first-child dd {
  border-bottom: 1px solid #e9e9e9;
}

.thumbnail_common .description_information:after {
  background-color: #fff;
}

.thumbnail_common .slick + .caption_information {
  margin-top: -3px;
  margin-right: 1px;
  margin-left: 1px;
}

/* caption_middle
---------- ---------- ---------- ---------- ---------- */
.caption_middle .untitled_common {
  display: block;
  padding: 12px;
  border-top: 2px solid #333;
}

.caption_middle .subject_middle {
  display: block;
  font-size: 16px;
}

.caption_middle .text_middle {
  display: block;
  overflow: hidden;
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.6;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.caption_middle .description_middle {
  margin-top: 8px;
  font-weight: bold;
  font-size: 14px;
}

/* caption_information
---------- ---------- ---------- ---------- ---------- */
.caption_information {
  padding: 12px;
  border: 1px solid #e9e9e9;
  font-size: 0;
  background-color: #fff;
}

.caption_information .untitled_common {
  display: inline-block;
  position: relative;
  padding-right: 40px;
}

.caption_information .subject_information {
  font-size: 16px;
  vertical-align: middle;
}

.caption_information .text_information {
  display: block;
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.6;
}

.caption_information p.text_information {
  margin-top: 12px;
  font-size: 14px;
  line-height: 1.8;
}

.caption_information .text_information:first-child {
  margin-top: 0;
}

.caption_information .untitled_common .icon_global {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 16px;
  background-color: #f1f1f1;
}

.caption_information .group_half {
  margin: 12px 0 -12px;
  border-top: 1px solid #e9e9e9;
}

.caption_information .group_half:first-child {
  margin-top: -12px;
  border-top: 0 none;
}

.caption_information .group_half:first-child .inner_half {
  padding-top: 0;
}

.caption_information .inner_half {
  text-align: right;
}

.caption_information .inner_half:first-child {
  text-align: left;
}

/*
.caption_information .group_half .description_information:before,
.caption_information .group_half .description_information:after {
  display: none;
}
*/

.caption_information .group_half .description_information dd {
  display: block;
  width: auto;
  border: 0 none;
}

/* description_information
---------- ---------- ---------- ---------- ---------- */
.description_information {
  position: relative;
  padding-top: 2px;
  font-size: 0;
}

.description_information:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 2px;
  background-color: #333;
  content: '';
}

.description_information:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: #e9e9e9;
  content: '';
}

.description_information dt,
.description_information dd {
  display: inline-block;
  width: 50%;
  margin-top: -1px;
  padding: 8px 0;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  box-sizing: border-box;
  font-size: 12px;
  vertical-align: top;
}

.description_information dt {
  font-weight: bold;
}

.description_information dd {
  position: relative;
}

.description_information dd.full {
  width: 100%;
}

.description_information .invisible {
  width: 1px;
  margin: 0;
  padding: 0;
  border: 0 none;
}

/*
.description_information .icon_global {
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  background-color: #f1f1f1;
  background-position: -1000px -1000px;
}
*/

.description_information .icon_global {
  position: absolute;
  top: 50%;
  left: 9px;
  width: 4px;
  height: 4px;
  margin-top: -2px;
  background-color: #333;
}

.description_information .icon_global + .text_information {
  padding-left: 22px;
}

.description_information .text_information {
  display: inline-block;
  margin: 0;
  line-height: 1.6;
}

.description_information.event .text_information {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

/* description_information
---------- ---------- ---------- ---------- ---------- */
.footer {
  padding: 12px 0;
  background-color: #333;
}

.footer .list_utility {
  padding: 0 12px;
  text-align: center;
}

.footer .description_policy {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid #999;
}

.footer .text_copyright {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid #999;
  font-size: 12px;
  color: #999;
  text-align: center;
}

/* list_utility
---------- ---------- ---------- ---------- ---------- */
.list_utility {
  font-size: 0;
}

.list_utility li {
  display: inline-block;
  position: relative;
}

.list_utility li:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: #999;
  content: '';
}

.list_utility li:first-child:before {
  display: none;
}

.list_utility li + li {
  margin-left: 8px;
  padding-left: 8px;
}

.list_utility .link_utility {
  display: block;
  font-size: 12px;
  color: #999;
}

/* description_policy
---------- ---------- ---------- ---------- ---------- */
.description_policy {
  padding: 0 12px;
  font-size: 0;
}

.description_policy dt,
.description_policy dd {
  margin-top: 8px;
  font-size: 12px;
  color: #999;
}

.description_policy dt:first-child,
.description_policy dt:first-child + dd {
  margin-top: 0;
}

.description_policy dt {
  float: left;
}

.description_policy dd {
  display: block;
}

.description_policy dd:before {
  display: inline-block;
  padding-right: 4px;
  content: ':';
}

/* area_common
---------- ---------- ---------- ---------- ---------- */
.area_common {
  /* margin-top: 12px; */
}

.area_common .title_common {
  font-size: 16px;
}

.area_common .text_common {
  margin-top: 4px;
  font-size: 14px;
  line-height: 1.8;
  color: #666;
}

.area_common .text_common:first-child {
  margin-top: 0;
}

/* slick */
.slick {
  overflow: hidden;
  margin-top: -12px;
  margin-right: -1px;
  margin-left: -1px;
  padding-top: 12px;
}

.slick .box_common {
  margin-top: 12px;
  margin-right: 1px;
  margin-bottom: 2px;
  margin-left: 1px;
  padding: 1px;
}

.slick .link_common {
  display: block;
  position: relative;
  margin: 0;
}

.area_common .slick-list .box_common {
  margin-top: 12px;
  margin-right: 12px;
  margin-left: 12px;
  padding: 4px;
}

.area_common .slick-list .link_common {
  margin: -3px;
}

/* group_profile
---------- ---------- ---------- ---------- ---------- */
.group_profile {
  font-size: 0;
}

.group_profile .link_profile {
  display: inline-block;
}

.group_profile .group_picture {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0;
  vertical-align: middle;
}

.group_profile .group_picture {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0;
  vertical-align: middle;
}

.group_profile .text_profile {
  margin-left: 12px;
  font-size: 14px;
  vertical-align: middle;
}

/* group_picture
---------- ---------- ---------- ---------- ---------- */
.group_picture {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100%;
  background-color: #f1f1f1;
}

.group_picture .image_picture {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.group_picture + .group_field {
  margin-top: 24px;
}

/* group_field
---------- ---------- ---------- ---------- ---------- */
.group_field {
  position: relative;
  display: block;
  box-sizing: border-box;
}

.group_field .label_common {
  font-weight: bold;
  font-size: 14px;
  color: #666;
}

.group_field .box_field {
  display: block;
  margin-top: 8px;
  border: 0 none;
  border-bottom: 1px solid #e9e9e9;
}

.group_field .box_field .textfield_common {
  padding: 12px;
}

.group_field ~ .group_field {
  margin-top: 12px;
}

/* box_field
---------- ---------- ---------- ---------- ---------- */
.box_field {
  display: inline-block;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
}

.box_field .textfield_common {
  width: 100%;
  padding: 12px;
  border: 0 none;
  box-sizing: border-box;
  font-size: 14px;
  background-color: transparent;
}

/* group_search
---------- ---------- ---------- ---------- ---------- */
.group_search {
  font-size: 0;
}

.group_search .group_field {
  display: inline-block;
  width: 70%;
  padding-left: 8px;
}

.group_search .box_field {
  margin-top: 0;
  border: 1px solid #e9e9e9;
}

.group_search .box_field .textfield_common {
  padding: 12px;
}

.group_search .link_common1 {
  margin-top: 12px;
}

.group_search .group_select,
.group_search .group_field {
  vertical-align: top;
}

/* group_select
---------- ---------- ---------- ---------- ---------- */
.group_select {
  display: inline-block;
  position: relative;
  z-index: 1;
  min-width: 30%;
  height: 42px;
  border: 1px solid #e9e9e9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 100% 50%;
}

.group_select .label_common {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  padding: 0 12px;
  font-size: 0;
}

.group_select .text_common {
  display: inline-block;
  font-size: 14px;
  line-height: 40px;
  text-align: left;
  vertical-align: middle;
}

.group_select .icon_global {
  position: absolute;
  top: 50%;
  right: 12px;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  background-position: 0 -35px;
}

.group_select .select_common {
  width: 100%;
  height: 40px;
  border: 0;
  font-family: inherit;
  line-height: 39px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

/* group_confirm
---------- ---------- ---------- ---------- ---------- */
.group_confirm .link_common {
  display: block;
}

.group_confirm .outer_half {
  margin-left: -12px;
}

.group_confirm .inner_half {
  padding-left: 12px;
}

/* group_upload
---------- ---------- ---------- ---------- ---------- */
.group_upload {
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px solid #e9e9e9;
  border-radius: 100%;
  font-size: 1px;
  line-height: 0;
  color: transparent;
  background-color: #fff;
}

.group_upload .label_upload {
  display: block;
  width: 30px;
  height: 30px;
}

.group_upload .icon_global {
  width: 30px;
  height: 30px;
  background-position: -70px -35px;
}

.group_upload .textfield_upload[type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 1px;
  height: 1px;
  cursor: pointer;
}

/* welcome
---------- ---------- ---------- ---------- ---------- */
.welcome .title_contents {
  text-align: center;
}

.welcome .text_contents {
  text-align: center;
}

/* group_loading
---------- ---------- ---------- ---------- ---------- */
.group_loading {
  overflow: hidden;
  position: relative;
}

.group_loading .thumbnail_loading {
  padding-top: 56.25%;
  background-color: #f1f1f1;
}

/* .group_loading .caption_loading {
  margin-top: 24px;
}

.group_loading .subject_loading {
  display: block;
  height: 20px;
  margin: 0 12px;
  background-color: #f1f1f1;
}

.group_loading .text_loading {
  display: block;
  height: 20px;
  margin: 4px 12px 0;
  background-color: #f1f1f1;
} */

.group_loading .layer_effect:after {
  -webkit-animation: effectLoading 0.4s linear infinite forwards;
  -moz-animation: effectLoading 0.4s linear infinite forwards; /* animation:effectLoading 4s linear infinite alternate forwards; IE Don't use */
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running; /* animation-play-state:running IE Don't use */
}

/* layer_effect
---------- ---------- ---------- ---------- ---------- */
.layer_effect {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.4s cubic-bezier(0.48, 0, 0, 1);
  -moz-transition: 0.4s cubic-bezier(0.48, 0, 0, 1);
  -o-transition: 0.4s cubic-bezier(0.48, 0, 0, 1);
  transition: 0.4s cubic-bezier(0.48, 0, 0, 1);
}

.layer_effect:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(120deg, transparent 25%, hsla(0, 0%, 90%, 0.5) 50%, transparent 75%);
  opacity: 1;
  content: '';
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: transform 0.4s linear;
  -moz-transition: transform 0.4s linear;
  -o-transition: transform 0.4s linear;
  transition: transform 0.4s linear;
}

/* keyframes
---------- ---------- ---------- ---------- ---------- */
@-webkit-keyframes effectLoading {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@-moz-keyframes effectLoading {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes effectLoading {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
